@keyframes bggradient{
from {background-image:repeating-radial-gradient(red, yellow 10%);}
to {background-image:repeating-radial-gradient(red,yellow 10%,blue 15%, red 20%);}
   
}

@keyframes ticker {
 from {right:0%;}
    to {right:100%;}
}

@keyframes ticker-two {
    from {right: 100%;}
    to {right: 0%;}
   }

body {
  font-size: 10px;
  background-image:repeating-radial-gradient(red, yellow 10%);
  animation: bggradient 10s linear infinite;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.banner, .footer{
    background-color: transparent;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    position:relative;
    max-width: 1200px;
    max-height: 700px;

}

.head{
  margin-top: 30px;
}

.foot{
margin-bottom: 30px;
}

.text{
  font-family: Pixtur; 
  font-size: 2.2rem;
  text-shadow: 0 0 3px #FF0000;

}

#ticker {
  width: 100%
  height: auto;
  animation: ticker 30s linear infinite;
}

#ticker-two{
  width: 100%
  height: auto;
  animation: ticker-two 30s linear infinite;
}

.car {
max-width:1000px;
height: 600px;
overflow: hidden;
position: relative;
cursor: url("https://gamepedia.cursecdn.com/fallout_gamepedia/9/97/Fo1_Molotov_Cocktail.png?version=6d50619be0e85dcf9751a51bc152b1d8"), auto;

}

.car img{
display:block;
margin-left: auto;
margin-right: auto;
}
